
{% extends 'base.html' %}
{% load static %}

{% block content %}
            <!-- shopping-cart-area start -->
            <div class="about-area ptb-100">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12 col-xl-8 ms-auto me-auto">
                            <div class="about-text">
                                <img src="{% static 'assets/img/banner/cedar.jpg' %}" alt="">
                                <div class="about-text-title text-center">
                                    <h2>
                                        welcome to CedarMen
                                    </h2>
                                    <p>We’re thrilled to announce the latest additions to our collection, designed with YOU in mind! This season, we’ve crafted fresh and bold styles to keep you looking sharp and feeling confident no matter where life takes you. </p>
                                </div>
                                <div class="about-counter">
                                    <div class="row">
                                        <div class="col-md-4 col-sm-4">
                                            <div class="single-count text-center mb-30">
                                                <div class="count-title">
                                                    <h2 class="count">20</h2>
                                                    <span>Years in Business</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-sm-4">
                                            <div class="single-count text-center mb-30">
                                                <div class="count-title">
                                                    <h2 class="count">200</h2>
                                                    <span>Clients and Partners</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-sm-4">
                                            <div class="single-count text-center mb-30">
                                                <div class="count-title">
                                                    <h2 class="count">15</h2>
                                                    <span>Billion Sales</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="testimonial-area">
                                    <h2 class="main-title">What people say?</h2>
                                    <div class="testimonial-active">
                                        <div class="single-testimonial text-center">
                                            <p>Cedar Men redefined my wardrobe! The craftsmanship and attention to detail in their clothing are unmatched. Every piece feels premium, and I always get compliments when I wear their outfits.</p>
                                            <h2>Mrs Ayodeji</h2>
                                            <h3>CEO SWG</h3>
                                        </div>
                                        <!-- <div class="single-testimonial text-center">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. U enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dol in reprehenderit in .</p>
                                            <h2>Tayeb Rayed</h2>
                                            <h3>CEO at company</h3>
                                        </div> -->
                                        <div class="single-testimonial text-center">
                                            <p>Cedar Men redefined my wardrobe! The craftsmanship and attention to detail in their clothing are unmatched. Every piece feels premium, and I always get compliments when I wear their outfits.</p>
                                            <h2>Mrs Ayodeji</h2>
                                            <h3>CEO SWG</h3>
                                        </div>
                                    </div>
                                </div>
                                <div class="our-team">
                                    <h2 class="main-title">our team member</h2>
                                    <div class="row">
                                        {% for member in team_members %}
                                        <div class="col-lg-4 col-md-4 col-sm-6">
                                            <div class="single-team">
                                                <div class="team-img-name">
                                                    <img alt="{{ member.name }}" src="{{ member.image.url }}">
                                                    <div class="member-title text-center">
                                                        <h2>{{ member.name }}</h2>
                                                        <p>{{ member.role }}</p>
                                                    </div>
                                                </div>
                                                <div class="member-info text-center">
                                                    <p>{{ member.bio }}</p>
                                                    <div class="member-social">
                                                        {% if member.facebook %}
                                                            <a class="m-facebook" href="{{ member.facebook }}">
                                                                <i class="fa fa-facebook"></i>
                                                            </a>
                                                        {% endif %}
                                                        {% if member.twitter %}
                                                            <a class="m-twitter" href="{{ member.twitter }}">
                                                                <i class="fa fa-twitter"></i>
                                                            </a>
                                                        {% endif %}
                                                        {% if member.google_plus %}
                                                            <a class="m-g-plus" href="{{ member.google_plus }}">
                                                                <i class="fa fa-google-plus"></i>
                                                            </a>
                                                        {% endif %}
                                                        {% if member.linkedin %}
                                                            <a class="m-linkedin" href="{{ member.linkedin }}">
                                                                <i class="fa fa-linkedin"></i>
                                                            </a>
                                                        {% endif %}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- shopping-cart-area end -->
            {% endblock %}
          
