
  
  {% extends 'base.html' %}
  {% load static %}
  
  {% block content %}

  <!-- breadcrumb start -->
  <div class="breadcrumb-area">
    <div class="container-fluid text-center">
        <div class="breadcrumb-stye gray-bg ptb-100">
            <h2 class="page-title">blog</h2>
            <ul>
                <li><a href="{% url 'home' %}">home</a></li>
                <li class="active">blog details</li>
            </ul>
        </div>
    </div>
</div>
<!-- breadcrumb end -->
            <!-- blog-area start -->
            <div class="blog-page-area pt-100 pb-60">
                <div class="container-fluid">
                    <div class="row">
                        {% for blog in blogs %}
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="single-blog-page mb-40 text-center">
                                    <a href="{% url 'blog_details' blog.id %}">
                                        <img src="{{ blog.image.url }}" alt="{{ blog.title }}">
                                    </a>
                                    <div class="blog-page-title">
                                        <span>{{ blog.publish_date|date:"F d, Y" }}</span>  <!-- Format date -->
                                        <h3>
                                            <a href="{% url 'blog_details' blog.id %}">{{ blog.title }}</a>
                                        </h3>
                                    </div>
                                </div>
                            </div>
                        {% empty %}
                            <div class="col-12 text-center">
                                <p>No blogs available.</p>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            
            
            <!-- blog-area end -->
            {% endblock %}
            
            
        
        
        
		
