{% extends 'theme/base.html' %} {% block content %}
<div class="container mt-4">
  <h2 class="mb-3">Invoices</h2>

  <form
    method="GET"
    class="d-flex justify-content-center align-items-center gap-2 mt-3"
  >
    <div class="input-group shadow-sm" style="max-width: 400px">
      <input
        type="text"
        name="q"
        class="form-control border-primary rounded-start"
        placeholder="Search by Invoice number..."
        value="{{ query }}"
        aria-label="Search"
      />
      <button type="submit" class="btn btn-primary rounded-end">
        <i class="fas fa-search"></i> Search
      </button>
    </div>
  </form>

  <table class="table table-bordered">
    <thead class="thead-dark">
      <tr>
        <th>INVOICE NUMBER</th>
        <th>CUSTOMER</th>
        <th>CREATED AT</th>
        <th>STATUS</th>
        <th>TOTAL AMOUNT</th>
      </tr>
    </thead>
    <tbody>
      {% for invoice in invoices %}
      <tr>
        <td>
          <a href="{% url 'view-invoice-admin' invoice.id %}"
            >{{ invoice.invoice_number }}</a
          >
        </td>
        <td>{{ invoice.customer.name }}</td>
        <td>{{ invoice.created_at|date:"Y-m-d" }}</td>
        <td>
          {% if invoice.status == "pending" %}
          <span class="badge badge-warning">Pending</span>
          {% elif invoice.status == "paid" %}
          <span class="badge badge-success">Paid</span>
          {% else %}
          <span class="badge badge-danger">Failed</span>
          {% endif %}
        </td>
        <td>${{ invoice.total_amount }}</td>
      </tr>
      {% empty %}
      <tr>
        <td colspan="7" class="text-center">No invoices found.</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  <!-- Pagination Controls -->
  <nav aria-label="Invoice Pagination">
    <ul class="pagination justify-content-center">
      {% if invoice.has_previous %}
      <li class="page-item">
        <a class="page-link" href="?page=1">First</a>
      </li>
      <li class="page-item">
        <a class="page-link" href="?page={{ invoice.previous_page_number }}"
          >Previous</a
        >
      </li>
      {% endif %}

      <li class="page-item active">
        <span class="page-link">
          Page {{ invoice.number }} of {{ invoice.paginator.num_pages }}
        </span>
      </li>

      {% if invoice.has_next %}
      <li class="page-item">
        <a class="page-link" href="?page={{ invoice.next_page_number }}"
          >Next</a
        >
      </li>
      <li class="page-item">
        <a class="page-link" href="?page={{ invoice.paginator.num_pages }}"
          >Last</a
        >
      </li>
      {% endif %}
    </ul>
  </nav>
</div>
{% endblock %}
